
.icon-search:before { content: '\e800'; } /* '' */
.icon-link:before { content: '\e801'; } /* '' */
.icon-pencil-alt:before { content: '\e802'; } /* '' */
.icon-right-open-mini:before { content: '\e803'; } /* '' */
.icon-cog:before { content: '\e804'; } /* '' */
.icon-folder-open:before { content: '\e805'; } /* '' */
.icon-layers:before { content: '\e806'; } /* '' */
.icon-search-1:before { content: '\e807'; } /* '' */
.icon-heart-empty:before { content: '\e808'; } /* '' */
.icon-users:before { content: '\f064'; } /* '' */
.icon-angle-circled-right:before { content: '\f138'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */